.general {
    background-image: url("./../../src/img/background_header.webp");
    width: 100%;
    height: 100vh;
    padding-top: 111px;
    background-size: cover;
    background-repeat: no-repeat;

    &__swiper {
        width: 100%;
        height: 100%;

        &-slide {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &-title {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 80px;
            line-height: 98px;
            letter-spacing: 0.1em;
            color: #FFF;
        }

        &-subtitle {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.3em;
            color: #FFF;
            margin-top: 20px;
        }
    }

    &__button {
        width: 40px;
        height: 40px;
        position: absolute;
        z-index: 1;
        bottom: 50px;
        background: transparent;
        border: none;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0; 
    }

    .swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        border: 1px solid #FFF;
        margin-bottom: 40px;
        margin-right: 52px;
    }

    .swiper-pagination-bullet {
        background: transparent;
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        background: #FFF;
    }
}
